<!-- Link al sito ufficiale McLaren Racing -->
<footer class="footer">
  <div class="footer-container">
    <p>
      <a
        href="https://www.mclaren.com/racing/"
        target="_blank"
        rel="noopener noreferrer"
        class="highlight-link"
      >
        Visita il sito ufficiale McLaren Racing
      </a>
    </p>

    <!-- Linea divisoria centrale -->
    <hr class="divider" />

    <!-- Credits -->
    <p class="credits">
      <span class="papaya-square"></span>

      <strong class="brand">McLAREN RACING ©2025</strong>

      <span class="details">
        - Project Work a cura di
        <span class="author">Francesco Pio Armenise</span>
      </span>
    </p>
  </div>
</footer>
