<!-- HeaderComponent -->
<!-- Header ispirato al sito McLaren Racing -->
<!-- Diviso in due blocchi di navigazione: sinistro e destro, con logo finale -->

<header class="header">
  <nav class="navbar">
    <!-- Hamburger visibile solo su mobile -->
    <div class="mobile menu-icon" (click)="toggleMenu()">☰</div>

    <!-- Menu Mobile -->
    <div class="mobile-menu" [class.open]="menuOpen">
      <ul>
        <li>
          <a href="https://www.mclaren.com/racing/mclaren-plus/" class="highlight-link"
            ><span>McLaren</span> PLUS</a
          >
        </li>
        <li><a href="https://www.mclaren.com/racing/formula-1/">FORMULA 1</a></li>
        <li><a href="https://www.mclaren.com/racing/indycar/">INDYCAR</a></li>
        <li><a href="https://www.mclaren.com/racing/gaming/">GAMING</a></li>
        <li><a href="https://www.mclaren.com/racing/formula-1/articles/">LATEST</a></li>
        <li><a href="https://www.mclaren.com/racing/heritage/">HERITAGE</a></li>
        <li><a href="https://www.mclarenstore.com/" class="store">STORE</a></li>
      </ul>
    </div>

    <img
      src="assets/images/mclaren-racing-logo.png"
      alt="McLaren Racing Logo"
      class="mobile logo"
    />

    <!-- Sezione sinistra -->
    <ul class="nav-left">
      <li>
        <a href="https://www.mclaren.com/racing/mclaren-plus/" class="highlight-link"
          ><span>McLaren</span> PLUS</a
        >
      </li>
      <li><a href="https://www.mclaren.com/racing/formula-1/">FORMULA 1</a></li>
      <li><a href="https://www.mclaren.com/racing/indycar/">INDYCAR</a></li>
      <li><a href="https://www.mclaren.com/racing/gaming/">GAMING</a></li>
    </ul>

    <!-- Sezione destra -->
    <ul class="nav-right">
      <li><a href="https://www.mclaren.com/racing/formula-1/articles/">LATEST</a></li>
      <li><a href="https://www.mclaren.com/racing/heritage/">HERITAGE</a></li>
      <li><a href="https://www.mclarenstore.com/" class="store">STORE</a></li>
      <li>
        <a href="https://www.mclaren.com/racing/">
          <img src="assets/images/mclaren-racing-logo.png" alt="McLaren Racing Logo" class="logo" />
        </a>
      </li>
    </ul>
  </nav>
</header>
