/* styles.css */
/* Palette ufficiale McLaren + stile base per il Project Work */

:root {
  --papaya-orange: #ff8000;
  --black: #000000;
  --anthracite: #53565a;
  --dark-grey: #111314;
  --mid-grey: #484b50;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.4;
}

main {
  padding: 0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
